@charset "utf-8";

@import "../../node_modules/bulma/bulma";
@import '../../node_modules/@creativebulma/bulma-collapsible';

.change-background-on-hover:hover {
  background-color: #f5ceee;
}

:target::before {
  content: "";
  display: block;
  height: 65px; /* fixed header height*/
  margin: -65px 0 0; /* negative fixed header height */
}
